ol li {
    background-color: yellow;
}
ol li:nth-of-type(even) {
    color: green;
}
ol li:nth-of-type(odd) {
    text-transform: uppercase;
}
h1, h2, h3 {
    color: red;
}
h1 em, h2 em, h3 em ,h4 em, h5 em, h6 em{
    font-size: 40px;
    border: 1px solid black;
}
li {
    font-size: 20px;
}
ul em, ol em {
    font-weight: 600;
}
ul.programming-languages li:nth-of-type(-n+3) {
    color: blue;
}
ul.programming-languages li[class^="java"] {
    background-color: pink;
}
ul:nth-of-type(2) li:nth-of-type(1) a:hover{
    text-decoration: none;
    font-weight: 600;
    color: #f48225;
}
ul:nth-of-type(2) li:nth-of-type(2) a:hover{
    text-decoration: none;
    font-weight: 600;
    color: #04AA6D;
}
ul:nth-of-type(2) li:nth-of-type(3) a:hover{
    text-decoration: none;
    font-weight: 600;
    color: #000;
}
ul:nth-of-type(2) li:nth-of-type(4) a:hover{
    text-decoration: none;
    font-weight: 600;
    color: #398df0;
}
ul:nth-of-type(2) li:nth-of-type(5) a:hover{
    text-decoration: none;
    font-weight: 600;
    color: #2fc18c;
}